@import '../../styles/variables.scss';

.no-card {
  border: 1px solid $income;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;

  svg {
    color: rgba($income, 0.6);
    width: 6.2rem;
    height: 6.2rem;
    transition: color 0.2s;
  }

  &:hover {
    border-color: rgba($income, 0.8);

    svg {
      color: rgba($income, 0.8);
    }
  }
}
